body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    background-color: yellow;
    border: 2px solid red;
    border-radius: 10px ;
}